# KNN

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

In [2]:
HYG = pd.read_csv("hygdata_v3.csv")

In [3]:
HYG

,id,hip,hd,hr,gl,bf,proper,ra,dec,dist,...,bayer,flam,con,comp,comp_primary,base,lum,var,var_min,var_max
0,0,NaN,NaN,NaN,NaN,NaN,Sol,0.000000,0.000000,0.0000,...,NaN,NaN,NaN,1,0,NaN,1.000000,NaN,NaN,NaN
1,1,1.0,224700.0,NaN,NaN,NaN,NaN,0.000060,1.089009,219.7802,...,NaN,NaN,Psc,1,1,NaN,9.638290,NaN,NaN,NaN
2,2,2.0,224690.0,NaN,NaN,NaN,NaN,0.000283,-19.498840,47.9616,...,NaN,NaN,Cet,1,2,NaN,0.392283,NaN,NaN,NaN
3,3,3.0,224699.0,NaN,NaN,NaN,NaN,0.000335,38.859279,442.4779,...,NaN,NaN,And,1,3,NaN,386.901132,NaN,NaN,NaN
4,4,4.0,224707.0,NaN,NaN,NaN,NaN,0.000569,-51.893546,134.2282,...,NaN,NaN,Phe,1,4,NaN,9.366989,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119609,119611,NaN,NaN,NaN,NN 4381,NaN,NaN,23.963895,38.629391,16.9492,...,NaN,NaN,NaN,1,119611,NaN,0.002200,NaN,NaN,NaN
119610,119612,NaN,NaN,NaN,NN 4385,NaN,NaN,23.996567,47.762093,16.7224,...,NaN,NaN,NaN,1,119612,NaN,0.000088,NaN,NaN,NaN
119611,119613,NaN,NaN,NaN,NN 4386,NaN,NaN,23.996218,-44.067905,18.5185,...,NaN,NaN,NaN,1,119613,NaN,0.002224,NaN,NaN,NaN
119612,119614,NaN,NaN,NaN,NN 4387,NaN,NaN,23.997386,-34.111986,12.8205,...,NaN,NaN,NaN,1,119614,NaN,0.001086,NaN,NaN,NaN
119613,119615,NaN,NaN,NaN,Gl 915,NaN,NaN,0.036059,-43.165974,7.8003,...,NaN,NaN,NaN,1,119615,NaN,0.000319,NaN,NaN,NaN

# DATA Cleaning

In [4]:
HYG = HYG.drop(columns = ["id", "hip", "hd", "hr", "gl", "bf", "ra", "dec", "proper", "pmra", "pmdec", "rv",
                          "bayer", "x", "y", "z", "vx", "vy", "vz", "rarad", "decrad", "pmrarad", "pmdecrad",
                          "flam", "con", "comp", "comp_primary", "base", "var", "var_min", "var_max"])

In [5]:
star_type = ["O", "B", "A", "F", "G", "K", "M"]
HYG = HYG.dropna(axis = 0, how = "any")
y = HYG["spect"]
X = HYG.drop(columns = ["spect", "dist"])

In [6]:
def change_type(string):
    return string[0].upper()
y = y.apply(change_type)

# KNN

In [7]:
kf = KFold(n_splits = 5, shuffle = True, random_state = 42)
model = KNeighborsClassifier(n_neighbors = 5)
scores_knn = cross_val_score(model, X, y, scoring = 'accuracy', cv = kf)

In [8]:
scores_knn

array([0.67641832, 0.67728514, 0.67243098, 0.68109912, 0.67598492])

# SVC

In [9]:
kf = KFold(n_splits = 5, shuffle = True, random_state = 42)
clf = make_pipeline(StandardScaler(), SVC(gamma = 'auto'))
scores_svc = cross_val_score(clf, X, y, scoring = 'accuracy', cv = kf)

In [10]:
scores_svc

array([0.75781216, 0.75815889, 0.75503836, 0.75573181, 0.7592424 ])